# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-*-Qt_*_gcc_64-*/
build-*-Desktop_Qt_*_GCC_64bit-*/
build-*-Desktop_Qt_*_MinGW_32bit-*/
build-*-Desktop_Qt_*_MinGW_64bit-*/
build-*-Desktop_Qt_*_MSVC*_32bit-*/
build-*-Desktop_Qt_*_MSVC*_64bit-*/
*.pro.user
/bin
